<section class="articles">
  <!-- These should be dynamically generated -->
  <% @posts.each do |post| %>
  <article>
    <h1><%= post.title %></h1>
    <p>
      <%= post.body %>
    </p>
    <p><span class="labels"><% post.tags.each do |tag|%>
                              <%= tag.description %>
                            <% end %>
    </span></p>
    <p>By:<%= post.user.username %></p>
  </article>
  <% end %>
  <a href="#">View All</a>
</section>
<aside class="tags">
  <header>
    <h1>Tags</h1>
  </header>
  <ul>
    <% @posts.each do |post| %>
      <% post.tags.each do |tag| %>
    <li><%= tag.description %></li>
      <% end %>
    <% end %>
  </ul>
</aside>
