<p>posts authored by: <%= @user.username %></p>

<section class="articles">
  <% @posts.each do |post| %>
  <article>
    <h1><a href="/post/<%=post.id%>"><%= post.title %></a></h1>
    <p>
      <%= post.body %>
    </p>
    <p><span class="labels"><% post.tags.each do |tag|%>
                              <a href="/tag/<%= tag.id %>"><%= tag.description %></a>
                            <% end %>
    </span></p>
  </article>
  <% end %>
  <a href="#">View All Posts</a>
</section>  
<aside class="tags">
  <header>
    <h1>Author Bio</h1>
  </header>
  
</aside>